In [1]:
import numpy as np
import pandas as pd

In [5]:
data={"gender":["male","female","male","female","male"],"remarks":["nice","good","verygood","nice","good"]}

In [6]:
person_data=pd.DataFrame(data)

In [7]:
person_data.head()

   gender   remarks
0    male      nice
1  female      good
2    male  verygood
3  female      nice
4    male      good

In [13]:
encoded_data=pd.get_dummies(person_data,columns=['gender','remarks'])

In [14]:
encoded_data.head()

   gender_female  gender_male  remarks_good  remarks_nice  remarks_verygood
0              0            1             0             1                 0
1              1            0             1             0                 0
2              0            1             0             0                 1
3              1            0             0             1                 0
4              0            1             1             0                 0