In [1]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data, index=['A', 'B', 'C', 'D'])

In [12]:
df.loc[:,'Name']

A      Alice
B        Bob
C    Charlie
D      David
Name: Name, dtype: object

In [9]:
df

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago